@import 'tailwindcss';

:root {
    --background: #1e1e1e;
    --foreground: #f1f1f1;
    --card: #2f2e2e;
    --border: #2d2d2d;
    --input: #5c5c5c;

    --primary: #e48639;
    --secondary: #ba56f8;

    --good: #3ab354;
    --neutral: #73a8fe;
    --warning: #c6971e;
    --error: #fd5555;

    --http-get: #51d66b;
    --http-post: #6ac2fd;
    --http-put: #ad6eeb;
    --http-delete: #d84848;
    --http-patch: #f1bd55;
    --http-head: #e75c3a;
    --http-options: #d242a9;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-good: var(--good);
    --color-neutral: var(--neutral);
    --color-warning: var(--warning);
    --color-error: var(--error);
    --color-http-get: var(--http-get);
    --color-http-post: var(--http-post);
    --color-http-put: var(--http-put);
    --color-http-delete: var(--http-delete);
    --color-http-patch: var(--http-patch);
    --color-http-head: var(--http-head);
    --color-http-options: var(--http-options);
}

@font-face {
    font-family: 'Asap';
    src: url('../assets/fonts/AsapFont.woff2') format('woff2');
    font-weight: 400;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--input);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
}

body {
    font-family: 'Asap', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

button {
    cursor: pointer;
}

.slide-in-from-top {
    animation: slide-in-from-top 0.2s ease-in-out;
}

.slide-in-from-bottom {
    animation: slide-in-from-bottom 0.2s ease-in-out;
}

.slide-in-from-left {
    animation: slide-in-from-left 0.2s ease-in-out;
}

.slide-in-from-right {
    animation: slide-in-from-right 0.2s ease-in-out;
}

@keyframes slide-in-from-top {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-from-bottom {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(1rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-1rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes border-wipe {
    0% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}